<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="AForge" version="2.2.5" targetFramework="net481" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net481" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net481" />
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net481" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net481" />
  <package id="ExcelDataReader" version="3.8.0" targetFramework="net481" />
  <package id="ExcelDataReader.DataSet" version="3.8.0" targetFramework="net481" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net481" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net481" />
  <package id="Microsoft.Office.Interop.Excel" version="16.0.18925.20022" targetFramework="net481" />
  <package id="QRCoder" version="1.7.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net481" />
  <package id="ZXing.Net" version="0.16.11" targetFramework="net481" />
</packages>